
@{
    ViewBag.Title = "Home";
}
@Html.Partial("_adminNav")
<h2> Home</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">USERS</h3>
    </div>
    <div class="panel-body admin-flex">
        @Html.ActionLink("Students", "Index", "Students", new { area = "StudentSection" }, new { @class = "btn btn-lg btn-primary" })
        @Html.ActionLink("Employers", "Index", "Employers", new { area = "EmployerSection" }, new { @class = "btn btn-lg btn-primary" })
        @Html.ActionLink("Instructors", "Index", "Instructors", new { area = "InstructorSection" }, new { @class = "btn btn-lg btn-primary" })
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">INTERNSHIPS</h3>
    </div>
    <div class="panel-body admin-flex">
        @Html.ActionLink("Open Internships", "Index", "Internships", new { area = "InternshipSection" }, new { @class = "btn btn-lg btn-success" })
        @Html.ActionLink("Active Internships", "Index", "Student_Internship", new { area = "Student_InternshipSection" }, new { @class = "btn btn-lg btn-success" })
    </div>
</div>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">ACADEMICS</h3>
    </div>
    <div class="panel-body admin-flex">
        @Html.ActionLink("Majors", "Index", "Majors", new { area = "MajorSection" }, new { @class = "btn btn-lg btn-warning" })
        @Html.ActionLink("Courses", "Index", "Cours", new { area = "CourseSection" }, new { @class = "btn btn-lg btn-warning" })
        @Html.ActionLink("Student Majors", "Index", "Student_major", new { area = "Student_majorSection" }, new { @class = "btn btn-lg btn-warning" })
        @Html.ActionLink("Student Courses", "Index", "Student_course", new { area = "Student_CourseSection" }, new { @class = "btn btn-lg btn-warning" })
    </div>
</div>