
@*<nav class="navbar " style="margin-top:4rem;">
    <div class="container-fluid">
        <ul class="nav nav-tabs nav-justified menu_items">
            <li class="menu-item">@Html.ActionLink("Home", "Home","Students", new {area = "StudentSection"}, new { id = "stuHome", @class="nav-link" })</li>
            <li class="menu-item">@Html.ActionLink("Open Internships", "OpenInternships", "Students", new { area = "StudentSection" }, new { id = "stuOpen" })</li>
            <li class="menu-item">@Html.ActionLink("Saved Internships", "SavedInternships", "Students", new { area = "StudentSection" }, new { id = "stuSaved" })</li>
            <li class="menu-item">@Html.ActionLink("My Internships", "ActiveInternships", "Students", new { area = "StudentSection" }, new { id = "stuActive" })</li>
           
        </ul>
    </div>
</nav>*@


<div class="navbar sub-nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#subNav">
                <span class="icon-bar sub-icon"></span>
                <span class="icon-bar sub-icon"></span>
                <span class="icon-bar sub-icon"></span>
            </button>
            <a class="navbar-brand sub_nav_brand" data-toggle="collapse" data-target="#subNav">Navigation</a>
        </div>
        <div class="navbar-collapse collapse" id="subNav">
            <ul class="nav nav-tabs nav-justified menu-items">
                <li class="menu-item">@Html.ActionLink("Home", "Home", "Students", new { area = "StudentSection" }, new { id = "stuHome", @class = "nav-link" })</li>
                <li class="menu-item">@Html.ActionLink("Open Internships", "OpenInternships", "Students", new { area = "StudentSection" }, new { id = "stuOpen", @class = "nav-link" })</li>
                <li class="menu-item">@Html.ActionLink("Saved Internships", "SavedInternships", "Students", new { area = "StudentSection" }, new { id = "stuSaved", @class = "nav-link" })</li>
                <li class="menu-item">@Html.ActionLink("My Internships", "ActiveInternships", "Students", new { area = "StudentSection" }, new { id = "stuActive", @class = "nav-link" })</li>
            </ul>
        </div>
    </div>
</div>  