@model mongoose.Models.Student_Internship

@{
    ViewBag.Title = "Details";
}
@{ if (User.IsInRole("Employer"))
    {
        @Html.Partial("~/Areas/EmployerSection/Views/Shared/_employerNav.cshtml")
    }
    if (User.IsInRole("Student"))
    {
        @Html.Partial("~/Areas/StudentSection/Views/Shared/_studentNav.cshtml")
    }
    if (User.IsInRole("Instructor"))
    {
        @Html.Partial("~/Areas/InstructorSection/Views/Shared/_instructorNav.cshtml")
    }
}
<h2>Details</h2>

<div>
    <h4>Student_Internship</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Midterm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Midterm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Final)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Final)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Term)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Term)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instructor.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructor.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Internship.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Internship.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>

    </dl>
</div>
<p>
    @{
        if (User.IsInRole("Student"))
        {
            @Html.ActionLink("Back", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-success" })
        }
        if (User.IsInRole("Employer"))
        {
            @Html.ActionLink("Back", "ActiveInternships", "Employers", new {area = "EmployerSection"}, new {@class = "btn btn-success" })
            @Html.ActionLink("Edit", "Edit", new { id = Model.StudentInternshipId }, new { @class = "btn btn-warning" })
        }
        if (User.IsInRole("Instructor"))
        {

            @Html.ActionLink("Edit", "Edit", new { id = Model.StudentInternshipId }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Back", "ActiveInternships", "Instructors",new { area = "InstructorSection"}, new { @class = " btn btn-success" })
        }
    }
</p>
