@model mongoose.Models.Student_Internship

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student_Internship</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Midterm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Midterm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Final)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Final)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Term)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Term)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instructor.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructor.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Internship.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Internship.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentInternshipId }) |
    @Html.Partial("_backTo")
</p>
