
@*<nav class="navbar " style="margin-top:4rem;">
    <div class="container-fluid">
        <ul class="nav nav-tabs nav-justified menu_items">
            <li class="menu-item">@Html.ActionLink("Home", "Home", "Instructors", new { area = "InstructorSection" }, new { id = "Home" })</li>
            <li class="menu-item">@Html.ActionLink("Open Internships", "OpenInternships", "Instructors", new { area = "InstructorSection" }, new { id = "OpenInternships" })</li>
            <li class="menu-item">@Html.ActionLink("Active Interns", "ActiveInternships", "Instructors", new { area = "InstructorSection" }, new { id = "ActiveInternships" })</li>
            <li class="menu-item">@Html.ActionLink("Student Search", "StudentSearch", "Instructors", new { area = "InstructorSection" }, new { id = "StudentSearch" })</li>
        </ul>
    </div>
</nav>*@
<div class="navbar sub-nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#subNav">
                <span class="icon-bar sub-icon"></span>
                <span class="icon-bar sub-icon"></span>
                <span class="icon-bar sub-icon"></span>
            </button>
            <a class="navbar-brand" data-toggle="collapse" data-target="#subNav">Navigation</a>
        </div>
        <div class="navbar-collapse collapse" id="subNav">
            <ul class="nav nav-tabs nav-justified menu-items">
                <li class="menu-item">@Html.ActionLink("Home", "Home", "Instructors", new { area = "InstructorSection" }, new { id = "Home" })</li>
                <li class="menu-item">@Html.ActionLink("Open Internships", "OpenInternships", "Instructors", new { area = "InstructorSection" }, new { id = "OpenInternships" })</li>
                <li class="menu-item">@Html.ActionLink("Active Interns", "ActiveInternships", "Instructors", new { area = "InstructorSection" }, new { id = "ActiveInternships" })</li>
                <li class="menu-item">@Html.ActionLink("Student Search", "StudentSearch", "Instructors", new { area = "InstructorSection" }, new { id = "StudentSearch" })</li>
            </ul>
        </div>
    </div>
</div>
