@model mongoose.Models.Student_Major

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student_Major</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Major.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Major.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>

    </dl>
</div>
@*@{
        if (User.IsInRole("Student")) //If student they can view details only links back to student/OpenInterships (All Interships) mb
        {
            @Html.ActionLink("Back", "OpenInternships", "Students", new { area = "StudentSection" }, new { @class = "nav-link" })
        }
        if (User.IsInRole("Employer")) //If Employer links to internship edit page and links back to employer open internships(specific to logged in employer) mb
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.InternshipId })
            @Html.Partial("_backToEmp")
        }
        if (User.IsInRole("Instructor"))
        {
            @Html.ActionLink("Back", "OpenInternships", "Instructors", new { area = "InstructorSection" }, new { @class = "nav-link" })
        }

    }*@ //code copied to navigate/adapt to this section
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentMajorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
