@model IEnumerable<mongoose.Models.Student_Major>

@{
    ViewBag.Title = "Index";
}
@Html.Partial("~/Areas/AdminSection/Views/Shared/_adminNav.cshtml")
<h2>Student Majors</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Major.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Major.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StudentMajorId }) |
                @Html.ActionLink("Details", "Details", new { id = item.StudentMajorId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StudentMajorId })
            </td>
        </tr>
    }

</table>
