@model mongoose.Models.Major

@{
    ViewBag.Title = "Details";
}
@{ if (User.IsInRole("Employer"))
    {
        @Html.Partial("~/Areas/EmployerSection/Views/Shared/_employerNav.cshtml")
    }
    if (User.IsInRole("Student"))
    {
        @Html.Partial("~/Areas/StudentSection/Views/Shared/_studentNav.cshtml")
    }
    if (User.IsInRole("Instructor"))
    {
        @Html.Partial("~/Areas/InstructorSection/Views/Shared/_instructorNav.cshtml")
    }
    if (User.IsInRole("Admin"))
    {
        @Html.Partial("~/Areas/AdminSection/Views/Shared/_adminNav.cshtml")
    }
}
<h2>Details</h2>

<div>
    <h4>Major</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequiredCredits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequiredCredits)
        </dd>

    </dl>
</div>
<p>
    @{
        if (User.IsInRole("Student"))
        {
            @Html.ActionLink("Back", null, null, null, new { href = Request.UrlReferrer })
        }
        if (User.IsInRole("Employer"))
        {
            @Html.ActionLink("Back", null, null, null, new { href = Request.UrlReferrer })
        }
        if (User.IsInRole("Instructor"))
        {
            @Html.ActionLink("Back", null, null, null, new { href = Request.UrlReferrer })

        }
        if (User.IsInRole("Admin"))
        {
            <div>
                @Html.ActionLink("Edit", "Edit", new { id = Model.MajorId }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-success" })
            </div>

        }
    }
</p>
