@model IEnumerable<mongoose.Models.Student_Internship>
@{
    ViewBag.Title = "My Interships";
}
@Html.Partial("_studentNav")



<h2>My Applications</h2>
@{ 
    if(ViewBag.Applications != null)
            {
                 <table class="table table-striped">
                     <tr>
                         <th>Title</th>
                         <th>Employer</th>
                         <th>Resume</th>
                         <th>Application Date</th>
                         <th>

                         </th>
                     </tr>
                     @foreach(var a in ViewBag.Applications)
                {
                 <tr>
                     <td>
                         <a href="~/InternshipSection/Internships/Details/@a.InternshipId">@a.Internship.Name</a>
                    </td>
                     <td><a href="~/EmployerSection/Employers/Details/@a.Internship.EmployerId">@a.Internship.Employer.Name</a></td>
                     <td>
                         @if (System.IO.File.Exists(HttpContext.Current.Server.MapPath("~/Resumes/" + a.ApplicationId + ".docx")))
                         {
                             <a href="@Url.Content(String.Format("~/Resumes/" + a.ApplicationId + ".docx"))" download="@a.Student.LastName-@a.Student.FirstName-Resume"><i class="fas fa-file-download fa-2x"></i></a>
                         } else
                         {
                             <p>None</p>
                         }
                     </td>
                     <td>@String.Format("{0:MM/dd/yyyy}", a.ApplicationDate)</td>
                     <td><div>
                                @Html.ActionLink("Details", "Details", "Internships", new { area = "InternshipSection", id = a.InternshipId }, new { @class = "label label-info" })
                                @Html.ActionLink("Delete", "Delete", "Applications", new { area = "ApplicationSection", id = a.ApplicationId }, new { @class = "label label-danger" })
                         </div>
                         
                     </td>
                 </tr>
                }
                 </table>
            }
}





<h2>My Internships</h2>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Internship.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Midterm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Final)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Term)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Internship.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Midterm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Final)
            </td>
            <td>
                @item.Semester, @item.Term
            </td>
            <td>
                <div class="internship_buttons">
                    @Html.ActionLink("More Details", "Details/" + item.StudentInternshipId, "Student_Internship", new { area = "Student_InternshipSection" }, new { @class = "label label-success" }) 
                </div>
                
            </td>
        </tr>
    }

</table>
