@model mongoose.Models.Student

@{
    ViewBag.Title = "Details";
}
@{ if (User.IsInRole("Employer"))
    {
        @Html.Partial("~/Areas/EmployerSection/Views/Shared/_employerNav.cshtml")
    }
    if (User.IsInRole("Student"))
    {
        @Html.Partial("~/Areas/StudentSection/Views/Shared/_studentNav.cshtml")
    }
    if (User.IsInRole("Instructor"))
    {
        @Html.Partial("~/Areas/InstructorSection/Views/Shared/_instructorNav.cshtml")
    }
    if (User.IsInRole("Admin"))
    {
        @Html.Partial("~/Areas/AdminSection/Views/Shared/_adminNav.cshtml")
    }
}
<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <div class="console_container">
        <div class="info-container">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.GraduationDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GraduationDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EnrollmentStatus)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EnrollmentStatus)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address2)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address2)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.City)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.State)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.State)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Zipcode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Zipcode)

                </dd>
            </dl>
            <h4>Major(s)</h4>
            @foreach (var m in ViewBag.studentmajor)
            {
                <p>@m.Major.Name</p>
            }
            <h4>Course(s)</h4>
            @foreach (var c in ViewBag.studentcourse)
            {
                <p>@c.Cours.Name</p>
            }
        </div>
        <div class="photo-container">
            @if (System.IO.File.Exists(HttpContext.Current.Server.MapPath("~/Images/" + Model.Id + ".jpg")))
            {
                <div class="profile-image_container">
                    <img src="@Url.Content(String.Format("~/Images/" + Model.Id + ".jpg"))" class="dashboard-image" />
                </div>
                if (User.IsInRole("Student") || User.IsInRole("Admin"))
                {
        <div>
            @Html.ActionLink("Change Photo", "ProfilePicture", null, new { @class = "btn btn-info" })
        </div>
                    
                }


            }
            else
            {

                if (User.IsInRole("Student"))
                {
                    <img src="@Url.Content(String.Format("~/Images/no-image.jpg"))" class="dashboard-image" />
                    <br />
                    @Html.ActionLink("Add Photo", "ProfilePicture", null, new { @class = "btn btn-info" })
                }



            }


        </div>

    </div>


</div>
<p>
    @{
        if (User.IsInRole("Student"))
        {
        <div>
            @Html.ActionLink("Edit", "Edit", new { id = Model.StudentId }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Back", "Home", null, new { @class = "btn btn-success" })
        </div>
            
        }
        if (User.IsInRole("Employer"))
        {
            @Html.ActionLink("Back", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-success" })
        }
        if (User.IsInRole("Instructor"))
        {
            @Html.ActionLink("Back", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-success" })
        }
        if (User.IsInRole("Admin"))
        {
        <div>
            @Html.ActionLink("Edit", "Edit", new { id = Model.StudentId }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-success" })
        </div>
        }
    }



</p>
