@*@model IEnumerable<mongoose.Models.Student>*@

@{
    ViewBag.Title = "Student Home";
}
@Html.Partial("_studentNav")



<section class="console_container">
    <div class="console_info">
        <h2>WELCOME</h2>
        <h1>@ViewBag.Name</h1>
        @Html.ActionLink("View/Edit Profile", "Details", new { id = ViewBag.EditProfile })
    </div>
    <div class="console_image">
        @if (System.IO.File.Exists(HttpContext.Current.Server.MapPath("~/Images/" + ViewBag.UserId + ".jpg")))
        {
            <div class="profile-image_container">
                <img src="@Url.Content(String.Format("~/Images/" + ViewBag.UserId + ".jpg"))" class="profile-image" />
            </div>

        }
        else
        {

            <img src="@Url.Content(String.Format("~/Images/no-image.jpg"))" class="profile-image" />
            <br />
            @Html.ActionLink("Add Photo", "ProfilePicture")
        }
    </div>
</section>















