
@{
    ViewBag.Title = "My Academics";
}
@Html.Partial("_studentNav")


<section class="console_container">
    <div class="console_info">
        <h3>@ViewBag.Name's academics</h3>
     
        @*//Viewbag for logged in student major(s) will go here with the edit button for any and each existing major*@
    <div>
        <table class="table">
            <tr>
                <th><h1><b>Major(s)</b></h1></th>
            </tr>

            @foreach (var m in ViewBag.studentmajor)
            {
                <tr>
                    <td>
                        <p>@m.Major.Name</p>
                    </td>
                </tr>



            }

        </table>
      

    </div>

       
        @*//Viewbag for logged in student courses with edit buttons for any and each existing course*@
    <div>
        <table class="table">
            <tr>
                <th><h1><b>Course(s)</b></h1></th>
            </tr>

            @foreach (var c in ViewBag.studentcourse)
            {
                <tr>
                    <td>
                        <p>@c.Cours.Name    -    @c.SemesterCompleted</p> @*//Do we want to include more info here?*@
                    </td>
                </tr>



            }

        </table>
       

    </div>
    

    </div>

</section>

