
@{
    ViewBag.Title = "My Academics";
}
@Html.Partial("_studentNav")


<section class="console_container">
    <div class="console_info">
        <h3>@ViewBag.Name's academics</h3>
     
        @*//Viewbag for logged in student major(s) will go here with the edit button for any and each existing major*@
    <div>
        <table class="table">
            <tr>
                <th><h1><b>Major(s)</b></h1></th>
            </tr>

            @foreach (var m in ViewBag.studentmajor)
            {
                <tr>
                    <td>
                        <p>@m.Major.Name</p>
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Student_Major", new { area = "Student_majorSection", id = m.StudentMajorId }, null) |
                        @Html.ActionLink("Delete", "Delete", "Student_Major", new { area = "Student_majorSection", id = m.StudentMajorId }, null)

                    </td>
                </tr>



            }

        </table>
        <div>
            @Html.ActionLink("Add Major", "Create", "Student_Major", new { area = "Student_majorSection" }, new { @class = "nav-link" })
        </div>

    </div>

       
        @*//Viewbag for logged in student courses with edit buttons for any and each existing course*@
    <div>
        <table class="table">
            <tr>
                <th><h1><b>Course(s)</b></h1></th>
            </tr>

            @foreach (var c in ViewBag.studentcourse)
            {
                <tr>
                    <td>
                        <p>@c.Cours.Name</p>
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Student_Course", new { area = "Student_CourseSection", id = c.StudentCourseid }, null) |
                        @Html.ActionLink("Delete", "Delete", "Student_Course", new { area = "Student_CourseSection", id = c.StudentCourseid }, null)

                    </td>
                </tr>



            }

        </table>
        <div>
            @Html.ActionLink("Add Course", "Create", "Student_Course", new { area = "Student_CourseSection" }, new { @class = "nav-link" })
        </div>

    </div>
    

    </div>

</section>

