
@{
    ViewBag.Title = "My Academics";
}
@Html.Partial("_studentNav")



        <h3 class="text-success">@ViewBag.Name's Academics</h3>
     
    <div>
        <table class="table table-striped">
            <tr class="text-info">
                <th>Major(s)</th>
            </tr>

            @foreach (var m in ViewBag.studentmajor)
            {
                <tr>
                    <td>
                        @m.Major.Name
                    </td>
                </tr>



            }

        </table>
      

    </div>

    <div>
        <table class="table table-striped">
            <tr class="text-info">
                <th>Course(s)</th>
                <th>Term</th>
                <th>Grade</th>
            </tr>

            @foreach (var c in ViewBag.studentcourse)
            {
                <tr>
                    <td>
                        @c.Cours.Name
                    </td>
                    <td>
                        @c.SemesterCompleted, @c.Term
                    </td>
                    <td>
                        @c.Grade
                    </td>
                </tr>



            }

        </table>
       





