@model IEnumerable<mongoose.Models.Internship>

@{
    ViewBag.Title = "Open Interships";
}
@Html.Partial("_studentNav")
<h2>Open Internships</h2>



@using (Html.BeginForm())
{
<div class="studentFilterArea">
    <div class="studentFilterAreaSearch">
        @Html.TextBox("SearchString", null, htmlAttributes: new { @class = "form-control", @placeholder = "Search Internships" })
        <input class="btn btn-sm btn-info" type="submit" value="Search" />
    </div>
    <div class="studentFilterAreaMajor">
        @Html.DropDownList("Majors", null, "Sort By Major", htmlAttributes: new { @class = "form-control", id = "MajorList" })

    </div>
    <div class="btn-group">
        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Filter
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("DATE ADDED", "OpenInternships", new { sortOrder = ViewBag.DateSortParm })</li>
            <li>@Html.ActionLink("TITLE", "OpenInternships", new { sortOrder = ViewBag.NameSortParm })</li>
            <li>@Html.ActionLink("LOCATION", "OpenInternships", new { sortOrder = ViewBag.LocationSortParm })</li>
            <li>@Html.ActionLink("START-DATE", "OpenInternships", new { sortOrder = ViewBag.StartDateSortParm })</li>
            <li>@Html.ActionLink("PAID", "OpenInternships", new { sortOrder = ViewBag.PaidSortParm })</li>
            <li>@Html.ActionLink("EMPLOYER", "OpenInternships", new { sortOrder = ViewBag.EmployerNameSortParm })</li>
        </ul>
    </div>
    @Html.ActionLink("Clear All", "OpenInternships", "", new { @class = "btn btn-sm btn-info" })
</div>
}
<div class="internship_container">
    @foreach (var item in Model)
    {
        <div class="panel panel-primary internship_block">
            <div class="panel-heading internship_panel_heading">
                @Html.DisplayFor(modelItem => item.Name)
                @{

                    <p class="text-warning">Start Date: @Html.DisplayFor(modelItem => item.StartDate)</p><p class="text-info">Posted: @Html.DisplayFor(modelItem => item.PostDate)</p>
                        if (item.Paid == 0)
                        {
                        <p>$@Html.DisplayFor(modelItem => item.Rate) /hr</p> 
                        }
                        else
                        {
                            <p>Unpaid</p>
                        }
                    <div class="student_count last">
                        @{
                            var saved = ViewBag.saved;
                            if (saved.Contains(item.InternshipId))
                            {
                                <p><i class="fas fa-heart red" id="save" value="@item.InternshipId" onclick="saveFunction(@item.InternshipId);"></i></p>
                            }
                            else
                            {
                                <p><i class="fas fa-heart" id="save" value="@item.InternshipId" onclick="saveFunction(@item.InternshipId);"></i></p>
                            }
                        }
                    </div>


                }
            </div>
            <div class="panel-body internship_panel_body">
                @if (System.IO.File.Exists(HttpContext.Current.Server.MapPath("~/Images/" + item.Employer.Id + ".jpg")))
                {
                <div class="studentOpenInternshipEmployer">
                    @Html.ActionLink(item.Employer.Name, "Details", "Employers", new { area = "EmployerSection", id = item.EmployerId }, null)
                    <img class="studentOpenInternshipImage" src="@Url.Content(String.Format("~/Images/" + item.Employer.Id + ".jpg"))" />
                </div>
                    


                }
                else
                {
                    @Html.ActionLink(item.Employer.Name, "Details", "Employers", new { area = "EmployerSection", id = item.EmployerId }, null)
                }
                <div class="internship_panel_major">
                    <p class="text-success">Major(s):</p>
                    @{
                        {

                            var major = item.Internship_Major.ToList();
                            if (major.Count != 0)
                            {
                                foreach (var m in major)
                                {
                                    <p>@m.Major.Name</p>
                                }

                            }
                            else
                            {
                                @Html.ActionLink("Add Major +", "Create/" + item.InternshipId, "Internship_Major", new { area = "Internship_MajorSection" }, null)
                            }
                        }

                    }
                </div>

                <div class="internship_panel_body_description">
                    <p class="text-success ">Description:</p>
                    @item.Description
                </div>
                <div class="internship_buttons">
                    @Html.ActionLink("Details", "Details/" + item.InternshipId, "Internships", new { area = "InternshipSection" }, new { @class = "bt btn-success btn-sm " })
                </div>
            </div>
        </div>
    }

</div>

































