@model IEnumerable<mongoose.Models.Saved_Internship>
@{
    ViewBag.Title = "Saved Internships";
}
@Html.Partial("_studentNav")
<h2>Saved Internships</h2>






<div class="internship_container">
    @foreach (var item in Model)
    {
        <div class="panel panel-primary internship_block">
            <div class="panel-heading internship_panel_heading">
                @Html.DisplayFor(modelItem => item.Internship.Name)
                @{

                    <p class="text-warning">Posted: @Html.DisplayFor(modelItem => item.Internship.PostDate)</p>
                    if (item.Internship.Paid == 0)
                    {
                        <p>@Html.DisplayFor(modelItem => item.Internship.Rate) /hr</p>
                    }
                    else
                    {
                        <p>Unpaid</p>
                    }
                    <a href="#" id="save" value="@item.InternshipId" onclick="removeFunction(@item.InternshipId);">Remove</a>

                }
            </div>
            <div class="panel-body internship_panel_body">
                @if (System.IO.File.Exists(HttpContext.Current.Server.MapPath("~/Images/" + item.Internship.Employer.Id + ".jpg")))
                {
                    <div class="studentOpenInternshipEmployer">
                        @Html.ActionLink(item.Internship.Employer.Name, "Details", "Employers", new { area = "EmployerSection", id = item.Internship.EmployerId }, null)
                        <img class="studentOpenInternshipImage" src="@Url.Content(String.Format("~/Images/" + item.Internship.Employer.Id + ".jpg"))" />
                    </div>



                }
                else
                {
                    @Html.ActionLink(item.Internship.Employer.Name, "Details", "Employers", new { area = "EmployerSection", id = item.Internship.EmployerId }, null)
                }
                <div class="internship_panel_major">
                    <p class="text-success">Major(s):</p>
                    @{
                        {

                            var major = item.Internship.Internship_Major.ToList();
                            if (major.Count != 0)
                            {
                                foreach (var m in major)
                                {
                                    <p>@m.Major.Name</p>
                                }

                            }
                            else
                            {
                                @Html.ActionLink("Add Major +", "Create/" + item.InternshipId, "Internship_Major", new { area = "Internship_MajorSection" }, null)
                            }
                        }

                    }
                </div>

                <div class="internship_panel_body_description">
                    <p class="text-success ">Description:</p>
                    @item.Internship.Description
                </div>
                <div class="internship_buttons">
                    @Html.ActionLink("Details", "Details/" + item.InternshipId, "Internships", new { area = "InternshipSection" }, new { @class = "bt btn-success btn-sm " })
                </div>
            </div>
        </div>
    }

</div>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Internship.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Internship.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Internship.Length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Internship.Rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Internship.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Internship.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Internship.PostDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Internship.Paid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Internship.Employer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Internship.Internship_Major)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Internship.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Internship.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Internship.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Internship.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Internship.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Internship.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Internship.PostDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Internship.Paid)
            </td>
            <td>
                @Html.ActionLink(item.Internship.Employer.Name, "Details/" + item.Internship.EmployerId, "Employers", new { area = "EmployerSection" }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Internship.Internship_Major.FirstOrDefault().Major.Name)
            </td>

            <td>
                @Html.ActionLink("Details", "Details/" + item.InternshipId, "Internships", new { area = "InternshipSection" }, null)
            </td>
        </tr>
    }

</table>*@