@model IEnumerable<mongoose.Models.Student_Internship>
@{
    ViewBag.Title = "Active Interns";
}
@Html.Partial("_employerNav")
<h2>ACTIVE INTERNS</h2>
<div class="internship_container">
    @foreach (var item in Model)
    {
        <div class="panel panel-primary internship_block">
            <div class="panel-heading internship_panel_heading">
                <a href="/StudentSection/Students/Details/@item.StudentId">@item.Student.LastName, @item.Student.FirstName</a>
                @{

                    <p>@Html.DisplayFor(modelItem => item.Internship.Name)</p><p>@item.Semester, @item.Term</p>
                }
            </div>
            <div class="panel-body internship_panel_body">
                
                    @if (System.IO.File.Exists(HttpContext.Current.Server.MapPath("~/Images/" + item.Student.Id + ".jpg")))
                    {
                <div class="studentOpenInternshipEmployer">
                    <a href="/StudentSection/Students/Details/@item.StudentId"><img class="studentOpenInternshipImage" src="@Url.Content(String.Format("~/Images/" + item.Student.Id + ".jpg"))" /></a>
                    
                </div>
                    }
                    

                
                <div>
                    <h5 class="text-info">Instructor</h5>
                    <a href="/InstructorSection/Instructors/Details/@item.InstructorId">@item.Instructor.LastName, @item.Instructor.FirstName</a>
                </div>
                <div >
                    <h5 class="text-info">Midterm</h5>
                    @Html.DisplayFor(modelItem => item.Midterm)
                </div>
                <div>
                    <h5 class="text-info">Final</h5>
                    @Html.DisplayFor(modelItem => item.Final)
                </div>
                <div>
                    <h5 class="text-info">Comments</h5>
                    @Html.DisplayFor(modelItem => item.Comments)
                </div>
                <div class="internship_buttons">
                    @Html.ActionLink("Student Info", "Details/" + item.StudentInternshipId, "Student_Internship", new { area = "Student_InternshipSection" }, new { @class = "btn btn-sm btn-success" })
                    @Html.ActionLink("Instructor Info", "Details/" + item.InstructorId, "Instructors", new { area = "InstructorSection" }, new { @class = "btn btn-sm btn-info" })
                    @Html.ActionLink("Internship Info", "Details/" + item.InternshipId, "Internships", new { area = "InternshipSection" }, new { @class = "btn btn-sm btn-warning" })

                </div>
            </div>
        </div>
    }

</div>
























@*<table class="table table-striped">
    <tr>
        <th>

        </th>
        <th>
            Internship Title
        </th>
        <th>
            Student
        </th>
        <th>
            Instructor
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Term)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Midterm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Final)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Internship.Name)
            </td>
            <td>
                @item.Student.LastName, @item.Student.FirstName
            </td>
            <td>
                @item.Instructor.LastName, @item.Instructor.FirstName
            </td>
            <td>
                @item.Semester, @item.Term
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Midterm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Final)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit/" + item.StudentInternshipId, "Student_Internship", new { area = "Student_InternshipSection" }, new {@class = "label label-success" })
                @Html.ActionLink("Details", "Details/" + item.StudentInternshipId, "Student_Internship", new { area = "Student_InternshipSection" }, new { @class = "btn btn-sm btn-info" }) 
                @Html.ActionLink("Delete", "Delete/" + item.StudentInternshipId, "Student_Internship", new { area = "Student_InternshipSection" }, new { @class = "label label-warning" })
            </td>
        </tr>
    }

</table>*@