@model IEnumerable<mongoose.Models.Employer_Internship>
@{
    ViewBag.Title = "ActiveInternships";
}
@Html.Partial("_employerNav")
<h2>ACTIVE INTERNSHIPS</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Midterm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Final)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Term)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructor.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Internship.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employer.FirstName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Midterm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Final)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Term)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Internship.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employer.FirstName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit/" + item.EmployerInternshipId, "Employer_Internship", new { area = "Employer_InternshipSection" }, null) |
                @Html.ActionLink("Details", "Details/" + item.EmployerInternshipId, "Employer_Internship", new { area = "Employer_InternshipSection" }, null) |
                @Html.ActionLink("Delete", "Delete/" + item.EmployerInternshipId, "Employer_Internship", new { area = "Employer_InternshipSection" }, null)
            </td>
        </tr>
    }

</table>