@model IEnumerable<mongoose.Models.Application>

@{
    ViewBag.Title = "Applicant";
}
@Html.Partial("_employerNav")
<h2>Applicants</h2>


<table class="table table-striped">
    <tr>
        <th>
            Title
        </th>
        <th>
            Student
        </th>
        <th>
            Resume
        </th>
        <th>
            Date Applied
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Internship.Name)
            </td>
            <td>
                @item.Student.LastName, @item.Student.FirstName
            </td>
            <td>
                @if (System.IO.File.Exists(HttpContext.Current.Server.MapPath("~/Resumes/" + item.ApplicationId + ".docx")))
                {
                    <a href="@Url.Content(String.Format("~/Resumes/" + item.ApplicationId + ".docx"))" download="@item.Student.LastName-@item.Student.FirstName-Resume"><i class="fas fa-file-download"></i></a>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDate)
            </td>
            <td>
                <div class="internship_buttons">
                    @Html.ActionLink("Student Info", "Details/" + item.StudentId, "Students", new { area = "StudentSection" }, new { @class = "label label-success" })
                    @Html.ActionLink("Internship Info", "Details/" + item.InternshipId, "Internships", new { area = "InternshipSection" }, new { @class = "label label-primary" })
                    @Html.ActionLink("Delete", "Delete","Applications", new {area = "ApplicationSection", id = item.ApplicationId }, new {@class="label label-danger"})
                </div>
                
            </td>
        </tr>
    }

</table>
