@model mongoose.Models.Employer
@using Microsoft.AspNet.Identity;

@{ if (User.IsInRole("Employer"))
    {
        @Html.Partial("~/Areas/EmployerSection/Views/Shared/_employerNav.cshtml")
    }
    if (User.IsInRole("Student"))
    {
        @Html.Partial("~/Areas/StudentSection/Views/Shared/_studentNav.cshtml")
    }
    if (User.IsInRole("Instructor"))
    {
        @Html.Partial("~/Areas/InstructorSection/Views/Shared/_instructorNav.cshtml")
    }
    if (User.IsInRole("Admin"))
    {
        @Html.Partial("~/Areas/AdminSection/Views/Shared/_adminNav.cshtml")
    }
}

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employer</h4>
    <hr />
    <div class="internship_details">
        <div class="internship_details_info">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ContactName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ContactName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>

                <dd>
                    <a href="tel:@Model.Phone">@Model.Phone</a>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    <a href="mailto:@Model.Email">@Model.Email</a>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address2)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address2)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.City)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.State)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.State)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Zipcode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Zipcode)
                </dd>

            </dl>
        </div>
        <div class="internship_details_photo">
            @if (System.IO.File.Exists(HttpContext.Current.Server.MapPath("~/Images/" + Model.Id + ".jpg")))
            {
                
                    <img src="@Url.Content(String.Format("~/Images/" + Model.Id + ".jpg"))" class="dashboard-image" />
               


            }
            else
            {

                <img src="@Url.Content(String.Format("~/Images/no-image.jpg"))" class="dashboard-image" />
                <br />

            }
            @if (Model.Id == User.Identity.GetUserId() && User.IsInRole("Employer"))
            {
                @Html.ActionLink("Add/Change Photo", "ProfilePicture", null, new {@class="btn btn-info addChange"})
            }

        </div>
    </div>


</div>


<div>
    @{
        if (User.IsInRole("Student") || User.IsInRole("Instructor"))
        {
            @Html.ActionLink("Back", null, null, new { href = Request.UrlReferrer, @class = "btn btn-info" })
        }
        if (User.IsInRole("Employer"))
        {
            <div>
                @Html.ActionLink("Edit ", "Edit", new { id = Model.EmployerId }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Back", "Home", null, new { @class = "btn btn-success" })
            </div>
            
        }
        if (User.IsInRole("Admin"))
        {
            <div>
                @Html.ActionLink("Edit ", "Edit", new { id = Model.EmployerId }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-success" })
            </div>
        }
    }


</div>
