@*@model IEnumerable<mongoose.Models.Employer>*@


@Html.Partial("_employerNav")
@{
    ViewBag.Title = "HOME";
}
<h2>WELCOME: @ViewBag.LoggedIn</h2>
<h3>You have @ViewBag.InternshipCount open internships</h3>



@if (System.IO.File.Exists(HttpContext.Current.Server.MapPath("~/Content/Images/Profile/" + ViewBag.UserId + ".jpg"))) //will probably need to change path for file server
{
    <div class="profile-image_container">
        <img src="@Url.Content(String.Format("~/Content/Images/Profile/" + ViewBag.UserId + ".jpg"))" class="profile-image" />
    </div>

}
else
{
    @Html.ActionLink("Add Photo", "ProfilePicture")
    <img src="@Url.Content(String.Format("~/Content/Images/Profile/no-image.jpg"))" class="profile-image" />

}
@Html.ActionLink("View/Edit Profile", "Details", new { id = ViewBag.EditProfile })




@*https://stackoverflow.com/questions/46946497/how-to-check-if-the-image-file-existed-in-mvc*@