@*@model IEnumerable<mongoose.Models.Employer>*@


@Html.Partial("_employerNav")
@{
    ViewBag.Title = "HOME";
}
<section class="dashboard">
    <div class="dashboard_info_panel panel panel-success">
        <div class="panel-heading dashboard_info_heading">
            <h1 class="panel-title">@ViewBag.BusinessName</h1>
            @Html.ActionLink("View/Edit Profile", "Details", new { id = ViewBag.EditProfile}, new {@class = "dashboard_view_profile"})
        </div>
        <div class="panel-content dashboard_info_content">
            <div>
                <h3 style="font-size: 5rem;">WELCOME: @ViewBag.LoggedIn</h3>
                <p class="text-info" style="font-size:3rem;">You have @Html.ActionLink((string)ViewBag.InternshipCount, "OpenInternships")  open internship(s) <br/>and @Html.ActionLink((string)ViewBag.ActiveIntershipCount, "Applicant") Applicant(s).</p>
            </div>
            <div>
                @if (System.IO.File.Exists(HttpContext.Current.Server.MapPath("~/Images/" + ViewBag.UserId + ".jpg")))
                {

                    <img class="dashboard-image" src="@Url.Content(String.Format("~/Images/" + ViewBag.UserId + ".jpg"))" />


                }
                else
                {

                    <img class="dashboard-image" src="@Url.Content(String.Format("~/Images/no-image.jpg"))"  />
                    <br />
                    @Html.ActionLink("Add Photo", "ProfilePicture")
                }
            </div>
        

        </div>
        
        
    </div>
    @*<div class="dashboard_image_panel panel panel-success">
        <div class="panel-heading">
            <h1 class="panel-title">Profile Image</h1>
        </div>
        <div class="panel-content dashboard_image_content">
            <div class="dashboard_image_container">
                @if (System.IO.File.Exists(HttpContext.Current.Server.MapPath("~/Images/" + ViewBag.UserId + ".jpg")))
                {
                    
                        <img class="dashboard-image" src="@Url.Content(String.Format("~/Images/" + ViewBag.UserId + ".jpg"))"/>
                    

                }
                else
                {

                    <img class="dashboard-image" src="@Url.Content(String.Format("~/Images/no-image.jpg"))" class="profile-image" />
                    <br />
                    @Html.ActionLink("Add Photo", "ProfilePicture")
                }

            </div>
        </div>
    </div>*@

 
</section>







