@model IEnumerable<mongoose.Models.Employer>

@{
    ViewBag.Title = "Index";
}
@Html.Partial("~/Areas/AdminSection/Views/Shared/_adminNav.cshtml")
<h2>Employers</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployerId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployerId)
            </td>
   
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EmployerId }) |
                @Html.ActionLink("Details", "Details", new { id = item.EmployerId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EmployerId })
            </td>
        </tr>
    }

</table>
