@model IEnumerable<mongoose.Models.Internship>
    
@{
    ViewBag.Title = "OpenInterships";
}
@Html.Partial("_employerNav")
<h2>OPEN INTERNSHIPS</h2>
<p>
    @Html.ActionLink("Create New", "Create","Internships", new {area = "InternshipSection"}, new {@class = "btn btn-success" })
</p>

<div class="internship_container">
    @foreach (var item in Model)
    {
        <div class="panel panel-primary internship_block">
            <div class="panel-heading internship_panel_heading">
                <p>@Html.DisplayFor(modelItem => item.Name)</p>
                @{

                                <p class="text-warning">Start Date: @Html.DisplayFor(modelItem => item.StartDate)</p><p class="text-info">Posted: @Html.DisplayFor(modelItem => item.PostDate)</p>
                    <div class="student_count last">
                        @{ 
                            var count = item.Applications.ToList().Count();
                            if (count != 0)
                            {
                                @Html.ActionLink("Applicant(s)", "Applicant", "Employers", new { area = "EmployerSection", id = item.InternshipId }, null)
                                <span class="badge">@count</span>
                            }
                    
                        }
                    </div>
                    

                }
            </div>
            <div class="panel-body internship_panel_body">
                <div class="internship_panel_major">
                    <p  class="text-success">Major(s):</p>
                    @{
                        {

                            var major = item.Internship_Major.ToList();
                            if (major.Count != 0)
                            {
                                foreach (var m in major)
                                {
                                    <p>@m.Major.Name</p>
                                }

                            }
                            else
                            {
                                @Html.ActionLink("Add Major +", "Create/" + item.InternshipId, "Internship_Major", new { area = "Internship_MajorSection" }, null)
                            }
                        }

                    }
                </div>
                <div class="internship_panel_body_description">
                    <p class="text-success ">Description:</p>
                    @item.Description
                </div>
                <div class="internship_buttons">
                    @Html.ActionLink("Edit", "Edit/" + item.InternshipId, "Internships", new { area = "InternshipSection" }, new { @class = "label label-success internship_button" })
                    @Html.ActionLink("Details", "Details/" + item.InternshipId, "Internships", new { area = "InternshipSection" }, new { @class = "label label-info" })
                    @Html.ActionLink("Delete", "Delete/" + item.InternshipId, "Internships", new { area = "InternshipSection" }, new { @class = "label label-warning" })
                </div>
            </div>
        </div>
    }

</div>



















@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InternshipId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Internship_Major)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.InternshipId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StartDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PostDate)
    </td>
   
    <td>
        @{
            {

                var major = item.Internship_Major.ToList();
                if (major.Count != 0)
                {
                    foreach (var m in major)
                    {
                        <p>@m.Major.Name</p>
                    }

                }
                else
                {
                    @Html.ActionLink("Add Major +", "Create/" + item.InternshipId, "Internship_Major", new { area = "Internship_MajorSection" }, null)
                }
            }

        }
    </td>
    <td>
        @{
            var count = item.Saved_Internship.ToList().Count();
            if (count != 0)
            {
                @Html.ActionLink("Saved by " + count + " Students", "StudentSaved", "Employers", new { area = "EmployerSection", id =item.InternshipId }, null)
            }

        }
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit/" + item.InternshipId, "Internships", new { area = "InternshipSection" }, new {@class = "label label-success"}) 
        @Html.ActionLink("Details", "Details/" + item.InternshipId, "Internships", new { area = "InternshipSection" }, new { @class = "label label-info" })
        @Html.ActionLink("Delete", "Delete/" + item.InternshipId, "Internships", new { area = "InternshipSection" }, new { @class = "label label-warning" })
    </td>
</tr>
    }

</table>*@