@model IEnumerable<mongoose.Models.Student>

@{
    ViewBag.Title = "Student Saved";
}
@Html.Partial("_employerNav")
<h2>Students Interested In # @ViewBag.InternshipId - @ViewBag.InternshipName</h2>
<table class="table table-striped">
    <tr>
        <th>
        Student Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GraduationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrollmentStatus)
        </th>
        <th>
            Major(s)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/StudentSection/Students/Details/@item.StudentId">@item.LastName, @item.FirstName</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GraduationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentStatus)
            </td>
            <td>
                @{ 
                    var majors = item.Student_Major.ToList();
                    foreach(var m in majors)
                {
                    <p>@m.Major.Name</p>
                }
                }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Students", new { area = "StudentSection", id = item.StudentId}, new {@class="label label-info"})
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Back", "OpenInternships",null, new {@class ="btn btn-info"})
</p>
