<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/fc725e5524.js" crossorigin="anonymous"></script>
    <!-- Bootstrap Multiselect CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap-multiselect.css" />



</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CONNECT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Student"))
                        {
                            <li>@Html.ActionLink("Student Page", "Home", "Students", new { area = "StudentSection" }, new { @class = "nav-link" })</li>
                        }
                        if (User.IsInRole("Employer"))
                        {
                            <li>@Html.ActionLink("Employer Page", "Home", "Employers", new { area = "EmployerSection" }, new { @class = "nav-link" })</li>
                        }
                        if (User.IsInRole("Instructor"))
                        {
                            <li>@Html.ActionLink("Instructor Page", "Home", "Instructors", new { area = "InstructorSection" }, new { @class = "nav-link" })</li>
                        }
                    }
                    else
                    {
                        @*<li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>*@
                        <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    }



                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FIGHTING MONGOOSES</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- Bootstrap Multiselect JS -->
    <script type="text/javascript" src="~/Scripts/bootstrap-multiselect.js"></script>
    @RenderSection("scripts", required: false)
    <script>

        $(function () { //Sends selected major id to controller to filter openInternships view mb
            $('#MajorList').change(function () {
                var id = $(this).val();
                console.log($(this).val());
                if (id != null && id != '') {
                    window.location.href = "OpenInternships?majorId=" + id;
                }
            });
        });
        $(function () {  //Sends selected major id to controller to filter StudentSearch view mb
            $('#StudentMajorList').change(function () {
                var id = $(this).val();
                console.log($(this).val());
                if (id != null && id != '') {
                    window.location.href = "StudentSearch?majorId=" + id;
                }
            });
        });

        const hearts = document.querySelectorAll('i');// adds click event listener to all heart favicons, triggers changeColor() on click mb
        Array.from(hearts).forEach(div => {
            div.addEventListener('click', changeColor);
        });



        (function () {                                   //changes link background color for current page mb
            var current = location.pathname.split('/')[3]; //Change to [4] when pushing to server, file path is slightly different mb
            if (current === "") return;
            var menuItems = document.querySelectorAll('.menu-item a');
            for (var i = 0, len = menuItems.length; i < len; i++) {
                if (menuItems[i].getAttribute("href").indexOf(current) !== -1) {
                    menuItems[i].parentElement.className += " active";
                }
            }
        })();
        function saveFunction(id) {     //sends internship id to InternshipSave controller - triggered by I element onclick mb
            $.ajax({
                url: 'InternshipSave',
                data: { id: id }
            }).done(function () {
               
            });
        }

        function changeColor() {     //when heart favicon is clicked, toggles red class for that heart element mb
            if ($(this).hasClass('red')) {
                $(this).removeClass('red');
            } else {
                $(this).addClass('red');
            }
        }

        $(document).ready(function () { // script for dropdown multi-select plugin mb
            $('#IntMajors').multiselect();
            
        });

        $('#IntMajors').change(function (e) {
            var optionsVal = [];
            $("#IntMajors").each(function () {
                var test = optionsVal.push($(this).val());
                console.log(this);
            });
            //$.ajax({
            //    type: 'POST',
            //    url: 'Create',
            //    traditional: true,
            //    dataType: "json",
            //    data: { SelectedSortOrderOptions: optionsVal },
            //    success: function () {
            //        console.log(optionsVal);
            //    },
            //});
        });


    </script>

</body>
</html>
