<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/fc725e5524.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CONNECT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Student"))
                        {
                            <li>@Html.ActionLink("Student Page", "Home", "Students", new { area = "StudentSection" }, new { @class = "nav-link" })</li>
                        }
                        if (User.IsInRole("Employer"))
                        {
                            <li>@Html.ActionLink("Employer Page", "Home", "Employers", new { area = "EmployerSection" }, new { @class = "nav-link" })</li>
                        }
                        if (User.IsInRole("Instructor"))
                        {
                            <li>@Html.ActionLink("Instructor Page", "Home", "Instructors", new { area = "InstructorSection" }, new { @class = "nav-link" })</li>
                        }
                    }
                    else
                    {
                        @*<li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>*@
                        <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    }



                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FIGHTING MONGOOSES</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
<script>

    $(function () {
        $('#MajorList').change(function () {
            var id = $(this).val();
            console.log($(this).val());
            if (id != null && id != '') {
                window.location.href = "OpenInternships?majorId=" + id;
            }
        });
    });
    $(function () {
        $('#StudentMajorList').change(function () {
            var id = $(this).val();
            console.log($(this).val());
            if (id != null && id != '') {
                window.location.href = "StudentSearch?majorId=" + id;
            }
        });
    });

        const hearts = document.querySelectorAll('i');
        Array.from(hearts).forEach(div => {
            div.addEventListener('click', changeColor);
        });

     

        (function () {
            var current = location.pathname.split('/')[3]; //Change to [4] when pushing to server, file path is slightly different
            console.log(current);
            if (current === "") return;
            var menuItems = document.querySelectorAll('.menu-item a');
            console.log(menuItems);
            for (var i = 0, len = menuItems.length; i < len; i++) {
                if (menuItems[i].getAttribute("href").indexOf(current) !== -1) {
                    menuItems[i].parentElement.className += " active";
                }
            }
        })();
        function saveFunction(id) {
            $.ajax({
                url: 'InternshipSave',
                data: { id: id }
            }).done(function () {
                console.log(id);
            });
        }
   
        function changeColor() {
            if ($(this).hasClass('red')) {
                $(this).removeClass('red');
                console.log(this);
            } else {
                $(this).addClass('red');
                console.log(this);
            }
        }
</script>
    
</body>
</html>
