@using Microsoft.AspNet.Identity;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/fc725e5524.js" crossorigin="anonymous"></script>
    <!-- Bootstrap Multiselect CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap-multiselect.css" />



</head>
<body>
    <div class="main-header">
        <header>
            <div class="page-top">

                <div class="logo-top-left"><img src="~/Images/logo.png" height="150" width="190" alt="LOGO"></div>

                <div class="head-title">
                    <h3>Together We Can</h3>
                </div>
            </div>
        </header>
    </div>



    <div class="navbar  navbar-default navbar-fixed-top main-nav">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a href="#"><img src="~/Images/logo.png" width="150" alt="LOGO"></a>*@
                @Html.ActionLink("CONNECT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="mainNav">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Student"))
                        {
                            <li>@Html.ActionLink("DASHBOARD", "Home", "Students", new { area = "StudentSection" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("ABOUT", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("CONTACT", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                        if (User.IsInRole("Employer"))
                        {
                            <li>@Html.ActionLink("DASHBOARD", "Home", "Employers", new { area = "EmployerSection" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("ABOUT", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("CONTACT", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                        if (User.IsInRole("Instructor"))
                        {
                            <li>@Html.ActionLink("DASHBOARD", "Home", "Instructors", new { area = "InstructorSection" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("ABOUT", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("CONTACT", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("DASHBOARD", "Home", "Admin", new { area = "AdminSection" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("ABOUT", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("CONTACT", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        }

                    }
                    else
                    {
                        @*<li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>*@
                        <li>@Html.ActionLink("ABOUT", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("CONTACT", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    }



                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

    </div>
    <div class="container footer-container">
        <footer>
            <p>All Rights Reserved &copy; @DateTime.Now.Year - CONNECT v @ViewContext.Controller.GetType().Assembly.GetName().Version</p>                 <p>Follow us on:  <a href="#" class="fa fa-facebook"></a> <a href="#" class="fa fa-twitter"></a> <a href="#" class="fa fa-pinterest"></a></p>
            <p class="developer">
                @switch (ViewBag.Developer)
                {
                    case "MB":
                        @Html.Raw("Software Engineer: Michael Bourlotos")
                        break;
                    case "AM":
                        @Html.Raw("Software Engineer: Alex Moore")
                        break;
                    case "GG":
                        @Html.Raw("Software Engineer: Gaelan Geronimo")
                        break;
                    default:
                        @Html.Raw("Software Engineer: All Programmers")
                        break;
                }
            </p>

        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- Bootstrap Multiselect JS -->
    <script type="text/javascript" src="~/Scripts/bootstrap-multiselect.js"></script>
    @RenderSection("scripts", required: false)
    <script>

        $(function () { //Sends selected major id to controller to filter openInternships view mb
            $('#MajorList').change(function () {
                var id = $(this).val();
                console.log($(this).val());
                if (id != null && id != '') {
                    window.location.href = "OpenInternships?majorId=" + id;
                }
            });
        });
        $(function () { //Sends selected instructor id to controller to filter active Internships view mb
            $('#InstructorList').change(function () {
                var id = $(this).val();
                console.log($(this).val());
                if (id != null && id != '') {
                    window.location.href = "ActiveInternships?instructorId=" + id;
                }
            });
        });
        $(function () {  //Sends selected major id to controller to filter StudentSearch view mb
            $('#StudentMajorList').change(function () {
                var id = $(this).val();
                console.log($(this).val());
                if (id != null && id != '') {
                    window.location.href = "StudentSearch?majorId=" + id;
                }
            });
        });

        const hearts = document.querySelectorAll('i.fa-heart');// adds click event listener to all heart favicons, triggers changeColor() on click mb
        Array.from(hearts).forEach(div => {
            div.addEventListener('click', changeColor);
        });



        (function () {                                   //changes link background color for current page mb
            var current = location.pathname.split('/')[4]; //Change to [4] when pushing to server, file path is slightly different mb
            if (current === "") return;
            var menuItems = document.querySelectorAll('.menu-item a');
            for (var i = 0, len = menuItems.length; i < len; i++) {
                if (menuItems[i].getAttribute("href").indexOf(current) !== -1) {
                    menuItems[i].parentElement.className += " active";
                }
            }
        })();
        function saveFunction(id) {     //sends internship id to InternshipSave controller - triggered by I element onclick mb
            $.ajax({
                url: 'InternshipSave',
                data: { id: id }
            }).done(function () {

            });
        }
        function removeFunction(id) {     //removes saved internship and refreshs page- triggered by remove onclick mb
            $.ajax({
                url: 'InternshipSave',
                data: { id: id }
            }).done(function () {
                window.location.reload();

            });
        }

        function changeColor() {     //when heart favicon is clicked, toggles red class for that heart element mb
            if ($(this).hasClass('red')) {
                $(this).removeClass('red');
            } else {
                $(this).addClass('red');
            }
        }

        $(document).ready(function () { // script for dropdown multi-select plugin mb
            $('#IntMajors').multiselect();
            inheritClass: true
        });

        $('#IntMajors').change(function (e) {
            var optionsVal = [];
            $("#IntMajors").each(function () {
                var test = optionsVal.push($(this).val());
                console.log(this);
            });

        });




    </script>

</body>
</html>
