@model mongoose.Models.Instructor

@{
    ViewBag.Title = "Details";
}
@{ if (User.IsInRole("Employer"))
    {
        @Html.Partial("~/Areas/EmployerSection/Views/Shared/_employerNav.cshtml")
    }
    if (User.IsInRole("Student"))
    {
        @Html.Partial("~/Areas/StudentSection/Views/Shared/_studentNav.cshtml")
    }
    if (User.IsInRole("Instructor"))
    {
        @Html.Partial("~/Areas/InstructorSection/Views/Shared/_instructorNav.cshtml")
    }
    if (User.IsInRole("Admin"))
    {
        @Html.Partial("~/Areas/AdminSection/Views/Shared/_adminNav.cshtml")
    }
}
<h2>Details</h2>
<div>
    <h4>Instructor</h4>
    <hr />
    <div class="console_container">
        <div class="info-container">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>

            </dl>
        </div>
        <div class="photo-container">
            @if (System.IO.File.Exists(HttpContext.Current.Server.MapPath("~/Images/" + Model.Id + ".jpg")))
            {
                <div class="profile-image_container">
                    <img src="@Url.Content(String.Format("~/Images/" + Model.Id + ".jpg"))" class="dashboard-image" />
                </div>


            }
            else
            {

                <img src="@Url.Content(String.Format("~/Images/no-image.jpg"))" class="profile-image" />
                <br />

            }
            @Html.ActionLink("Add/Change Photo", "ProfilePicture", null, new {@class="btn btn-info"})
        </div>
    </div>

</div>




<p>
    @{
        if (User.IsInRole("Student"))
        {
            @Html.ActionLink("Back", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-success" })
        }
        if (User.IsInRole("Employer"))
        {
            @Html.ActionLink("Back", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-success" })
        }
        if (User.IsInRole("Instructor"))
        {
            <div>
                @Html.ActionLink("Edit Profile", "Edit", new { id = Model.InstructorId }, new { @class = "btn btn-warning" }) 
                @Html.ActionLink("Back", "Home", null, new { @class = " btn btn-success" })
            </div>
            
        }
        if (User.IsInRole("Admin"))
        {
            <div>
                @Html.ActionLink("Edit Profile", "Edit", new { id = Model.InstructorId }, new { @class = "btn btn-warning" }) 
                @Html.ActionLink("Back", "Index", null, new { @class = " btn btn-success" })
            </div>
            
        }

    }

</p>
